extends ../../layouts/wechat

block head
    title 我的OA主页

block body
    div.weui-tab
        div.weui-tab_panel
            div.page__hd
                h1.page__title OA主页
                p.page__desc SDA青岛维修基地
                p.page__desc 点击下面的按钮，查询所有历史文件
            div.weui-grids
                a.weui-grid(href="./noti/noti/")
                    div.weui-grid__icon
                        img(src="/dist/weui/dist/example/images/icon_nav_dialog.png", alt="")
                        p.weui-grid__label 通知
                //- a.weui-grid(href="./noti/safe/")
                //-     div.weui-grid__icon
                //-         img(src="/dist/weui/dist/example/images/icon_nav_article.png", alt="")
                //-         p.weui-grid__label  质量
                //- a.weui-grid(href="./noti/tech/")
                //-     div.weui-grid__icon
                //-         img(src="/dist/weui/dist/example/images/icon_nav_panel.png", alt="")
                //-         p.weui-grid__label 技术
                a.weui-grid(href="./yue/all/")
                    div.weui-grid__icon
                        img(src="/dist/weui/dist/example/images/icon_nav_toast.png", alt="")
                        p.weui-grid__label 阅签
                a.weui-grid(href="./search/")
                    div.weui-grid__icon
                        img(src="/dist/weui/dist/example/images/icon_nav_search_bar.png", alt="")
                        p.weui-grid__label 搜索
            div(style="display:none") page2
            div(style="display:none") page3
